# The ldap host to connect to.  Defaults to localhost
#
# jammCleaner.ldap.host = 

# The port to connec to.  Defaults to 389
#
# jammCleaner.ldap.port = 

# The DN to bind to ldap with.  No default.
#
# jammCleaner.ldap.bind_dn = 

# The password to bind with.  No default.
#
# jammCleaner.ldap.password = 

# The search base to start at.  No default.
#
# jammCleaner.ldap.search_base = 

# Backup directory to backup account info to.  No backups if not defined.
#
# jammCleaner.backup_dir = 
