
# The LDAP host.  The default is localhost
#
#jamm.ldap.host =

# The LDAP port. The default is 389
#
#jamm.ldap.port =

# The search base.
#
#jamm.ldap.search_base =

# The DN of the "root" user
#
#jamm.ldap.root_dn =

# The login of the "root" user.  The default is root
#
#jamm.ldap.root_login =

# The class used to generate random numbers.  The default is
# java.security.SecureRandom.
#
#jamm.random_class = java.util.Random

# Should jamm use the Modify Password Extended Operation to set the
# users's password?  If true, it will.  If false, jamm itself will
# generate an SSHA hash and set the userPassword attribute to it.
# The default is true
#
#jamm.password.exop = true
